body {
  background-color: rgb(107, 105, 105);
}

.test-header {
  padding: 20px !important;
  font-family: "Fantasy", Papyrus, sans-serif !important;
}

.row {
  display: flex;
  /* Use Flexbox */
}

.page-side {
  width: 25%
}

.page-center { /*Literaly just used on the welcome page*/
  font-size: 20px;
  font-family: "Monospace", Monaco, sans-serif;
  width: 50%
}

.button {
  border: none;
  color: rgb(0, 0, 0);
  padding: 16px 32px;
  text-align: center;
  font-size: 32px;
  transition-duration: 0.4s;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

}